<!-- blog/templates/blog/base.html -->

{% load static %} <link rel="stylesheet" href="{% static "blog/base.css" %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ViBlog – {% block page_title %}An awesome blog{% endblock %}</title>
</head>

<body>
  <!-- The header -->
  <header id="site-header">
     <h1>ViBlog!</h1>
     <p>A blog about awesomeness</p>
  </header>

  <!-- Top navigation -->
  <nav id="top-nav">
    <ul>
      <li><a href="{% url "home" %}">Home</a></li>
      <li><a href="{% url "about" %}">About</a></li>
      <li><a href="{% url "post_list" %}">Posts</a></li>
      <li><a href="{% url "topic_list" %}">Topics</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <main id="main-content">
    <div>
      {% block main %}
      <!-- Content for the main block will be rendered here -->
      {% endblock %}
    </div>

   <aside id="sidebar">
     <section id="author-list">
       <h3>Popular Topics:</h3>
        <ul>
            {% for topic in topicside %}
              <li><a href="{{ topic.get_absolute_url }}">{{ topic }}</a></li>
            {% endfor %}
        </ul>
        <h3>Authors:</h3>
        <ul>
            {% for author in authors %}
                <li>{{ author.get_full_name }}</li>
            {% endfor %}
        </ul>
      </section>
    </aside>
  </main>

  <!-- The footer -->
  <footer id="site-footer">
   Copyright &copy; {% now 'Y' %} –
   <a href="{% url "terms_and_conditions" %}">Terms & conditions</a>
 </footer>
</body>
</html>
